@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Titillium Web, sans-serif;
}

header {
    display: flex;
    background: black;
}

header h1{
    font: formula1;
    font-size: 4em;
    padding-left: 10px;
    color: rgb(222, 0, 0); 
}

.nav-link, .nav-link:hover, .nav-link:active, .nav-link:visited {
    margin-inline: 30px;
    margin-top: 5px;
    align-self: center;
    color: white !important;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
  background: rgb(235, 55, 55);
  align-items: center;
}

footer p {
    float: right;
}