@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.play-page {
  padding: 0 1rem;
}

.play-header {
  font-size: 1.75rem;
}

.player-info {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

#userName {
  color: rgb(222, 0, 0);
}
